/* Header.css */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #302929b4;
  color: white;
  border: 1px solid rgb(210, 189, 149);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(245, 240, 240, 0.8);
}

.navbar {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.navbar .nav-link {
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

/* Change the color on hover */
.navbar .nav-link:hover {
  color: rgb(0, 0, 0);
  border-radius: 22%;
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
}

/* Change the color for the active link */
.navbar .nav-link.active {
  color: rgb(109, 171, 253) !important; 
}

/* ////////////////////////////// */

.navbar .nav-link.social-link {
  display: inline-block;
}

.navbar .nav-link.resume {
  display: inline-block;
  margin-left: 20px;
}

/*navbar toggle button and navbar collapse content */
.navbar-toggler-icon {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 40px; /* Set the height of the icon */
  width: 40px; /* Set the width of the icon */
}

button:hover {
  border-radius: 20%;
}
